.dog-cards {
    max-width: 300px;
}

.cat-cards {
    max-width: 300px;
}

.exotic-cards {
    max-width: 300px;
}
.individual-shelter {
    padding: 50px;
    border: 1px dotted black;
}

.shelter-images {
    height: 550px;
}

.friend-logo {
    padding: 20px;
}